// SECTION: What We Do
#what {
  .items {
    display: flex;
  }

  .item {
    flex: 1;
    text-align: center;
    padding: 1rem;
    margin: 2rem;

    i {
      background: $font-second;
      padding: 1rem;
      border-radius: 50%;
      margin-bottom: 1rem;
      margin-top: 2rem;
    }
  }
}

// SECTION: Who We Are
#who {
  display: flex;

  div {
    flex: 1;
  }

  .who-img {
    background: url(../img/people.jpg) no-repeat center center;
    background-size: cover;
  }
}

// SECTION: Clients
#clients {
  background-color: $font-second;

  .items {
    display: flex;

    img {
      display: block;
      margin: auto;
      width: 60%;
    }
  }
}

// SECTION: Contact
#contact {
  display: flex;
  color: $font-fourth;

  .map,
  .contact-form {
    flex: 1;
  }

  .contact-form {
    .form-group {
      margin: 0.75rem;
    }

    label {
      display: block;
    }

    input,
    textarea {
      width: 100%;
      padding: 0.5rem;
    }
  }
}
