@import url("https://fonts.googleapis.com/css?family=Roboto");
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  font-size: 62.5%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 1.6rem;
  line-height: 1.4;
}

a {
  text-decoration: none;
}

p {
  margin: 0.75rem 0;
}

.container {
  max-width: 110rem;
  margin: auto;
  padding: 0 2rem;
  overflow: hidden;
}

.text-center {
  text-align: center;
}

.text-primary {
  color: #f68657;
}

.bg-light {
  background: #f6b352;
  color: #1f2124;
}

.bg-dark {
  background: #1f2124;
  color: #f6b352;
}

.bg-primary {
  background: #f6b352;
  color: #1f2124;
}

.l-heading {
  font-size: 6rem;
  margin-bottom: 0.75rem;
  line-height: 1.1;
}

.m-heading {
  font-size: 4rem;
  margin-bottom: 0.75rem;
  line-height: 1.1;
}

.lead {
  font-size: 2.6rem;
  margin-bottom: 2rem;
}

.py-1 {
  padding: 1.5rem 0;
}

.py-2 {
  padding: 2rem 0;
}

.py-3 {
  padding: 3rem 0;
}

.p-1 {
  padding: 1.5rem;
}

.p-2 {
  padding: 2rem;
}

.p-3 {
  padding: 3rem;
}

.btn {
  display: inline-block;
  color: #1f2124;
  background: #f68657;
  padding: 0.5rem 2rem;
  border: none;
  border-radius: 5px;
}

.btn:hover {
  background: #f6b352;
}

.btn-dark {
  background: #1f2124;
  color: #f6b352;
}

.list {
  margin: 0.5rem 0;
  list-style: none;
}

.list li {
  padding: 0.5rem 0;
  border-bottom: #1f2124 dotted 1px;
}

#navbar {
  background: #1f2124;
  color: #f6b352;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  z-index: 1;
  padding: 1rem;
}

#navbar ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
}

#navbar ul li a {
  color: #f6b352;
  padding: 0.75rem;
  margin: 0 0.25rem;
}

#navbar ul li a:hover {
  background: #f68657;
  border-radius: 5px;
}

#showcase {
  background: #1f2124 url("../img/showcase.jpg") no-repeat center center;
  background-size: cover;
  height: 100vh;
  color: #f6b352;
}

#showcase .showcase-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  padding: 0 2rem;
  position: absolute;
  top: 5.3rem;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(31, 33, 36, 0.4);
}

#what .items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#what .item {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  text-align: center;
  padding: 1rem;
  margin: 2rem;
}

#what .item i {
  background: #f68657;
  padding: 1rem;
  border-radius: 50%;
  margin-bottom: 1rem;
  margin-top: 2rem;
}

#who {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#who div {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

#who .who-img {
  background: url(../img/people.jpg) no-repeat center center;
  background-size: cover;
}

#clients {
  background-color: #f68657;
}

#clients .items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#clients .items img {
  display: block;
  margin: auto;
  width: 60%;
}

#contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #1f2124;
}

#contact .map,
#contact .contact-form {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

#contact .contact-form .form-group {
  margin: 0.75rem;
}

#contact .contact-form label {
  display: block;
}

#contact .contact-form input,
#contact .contact-form textarea {
  width: 100%;
  padding: 0.5rem;
}

@media only screen and (max-width: 48em) {
  #what .items {
    display: block;
    padding: 1rem;
    /* Align icon to left */
    /* Position icon */
  }
  #what .items .item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    text-align: left;
  }
  #what .items i {
    margin-right: 1.3rem;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    margin-bottom: 0;
  }
}

@media only screen and (max-width: 35.5em) {
  .l-heading {
    font-size: 4rem;
  }
  .lead {
    font-size: 1.6rem;
  }
  #showcase .showcase-content {
    top: 5.2rem;
  }
}

@media only screen and (max-width: 31.25em) {
  #navbar {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #navbar .logo {
    margin-bottom: 0.5rem;
    text-align: center;
  }
  #navbar ul {
    padding: 0.5rem;
  }
  #showcase .showcase-content {
    top: 9rem !important;
  }
  #who {
    display: block;
  }
  #who .who-img {
    display: none;
  }
  #clients .items img {
    width: 80%;
  }
  #clients .items div:last-child {
    display: none;
  }
  #contact {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #contact .map {
    height: 20rem;
    border-top: 4px solid #1f2124;
    -webkit-box-flex: 0;
        -ms-flex: none;
            flex: none;
  }
}

@media only screen and (min-width: 1100px) {
  #what .items .item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    text-align: left;
  }
  #what .items .item i {
    margin-right: 1.3rem;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    margin-bottom: 0;
  }
  #contact .map {
    -webkit-box-flex: 2;
        -ms-flex: 2;
            flex: 2;
  }
}
/*# sourceMappingURL=main.css.map */